@import "tailwindcss";

@theme {
  /* breakpoint */
  --breakpoint-xs: 30rem;
  --breakpoint-sm: 36rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 62rem;
  --breakpoint-xl: 75rem;
  --breakpoint-2xl: 90rem;

  /* radius */
  --radius-10: 0.625rem;
  --radius-20: 1.25rem;
}

@plugin "daisyui" {
  themes: light --default;
  exclude: rootscrollgutter;
}

@plugin "daisyui/theme" {
  color-scheme: "light";
  default: true;
  
  --color-primary: #2563EB;
  --color-primary-content: #ffffff;

  --color-secondary: #F97316;
  --color-secondary-content: #ffffff;

  --color-accent: #10B981;
  --color-accent-content: #ffffff;

  --color-neutral: #374151;
  --color-neutral-content: #E5E7EB;

  --color-base-content: #1F2937;
  --root-bg: #F9FAFB;

  --color-info: #0EA5E9;
  --color-info-content: #F0F9FF;

  --color-success: #22C55E;
  --color-success-content: #ECFDF5;

  --color-warning: #FACC15;
  --color-warning-content: #1F2937;

  --color-error: #EF4444;
  --color-error-content: #FEF2F2;
}


@utility container {
  padding-inline: 1rem;
  margin-inline: auto;
}

html {
  background-color: var(--root-bg);
  scroll-behavior: smooth;
}

svg {
  flex-shrink: 0;
}


img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--color-neutral-content);
  background: var(--color-neutral)
}

::selection {
  color: var(--color-neutral-content);
  background: var(--color-neutral)
}